<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list *ngFor="let route of routes">
      <a mat-list-item [routerLink]="route.redirectTo">{{route.title}}</a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item (click)="logout()">Sair</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="mat.$orange-palette" class="header">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div>
        <span class="logo">Dev</span>Log
      </div>
      <div>
        <button mat-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <app-avatar username="John Doe"></app-avatar>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Redial</span>
          </button>
          <button mat-menu-item disabled>
            <mat-icon>voicemail</mat-icon>
            <span>Check voice mail</span>
          </button>
          <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
          </button>
        </mat-menu>

      </div>
    </mat-toolbar>
    <div class="content">
      <!-- Add Content Here -->
      <ng-content> </ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>