/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html,
body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.status-Open {
    background-color: #c8e6c9;
    color: #256029;
    border-radius: 2px;
    padding: 0.25em 0.5em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.3px;
}

.status-CONFIRMED {
    background-color: #77dcf0;
    color: #253a60;
    border-radius: 2px;
    padding: 0.25em 0.5em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.3px;
}

.status-OVERDUE {
    background-color: #e6c8c8;
    color: #602a25;
    border-radius: 2px;
    padding: 0.25em 0.5em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.3px;
}

.status-PENDING {
    background-color: #ffd8b2;
    color: #805b36;
    border-radius: 2px;
    padding: 0.25em 0.5em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.3px;
}

.status-REFUNDED {
    background-color: #eccfff;
    color: #694382;
    border-radius: 2px;
    padding: 0.25em 0.5em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.3px;
}

.status-RECEIVED_IN_CASH {
    background-color: #b3e5fc;
    color: #23547b;
    border-radius: 2px;
    padding: 0.25em 0.5em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.3px;
}